* {
    margin: 0;
}
.home {
    background-color: #fafafa;
}

.text {
    text-align: center;
}
.posts {
    padding: 20px;
    display: flex;
    justify-content: center;
}
.app_postsRight {
    margin-left: 20px;
}
